*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form h6{
  font-weight: 400;
  
}
.App h1{
  background-color: rgb(73, 73, 186);
  width: 100%;
  text-align: center;
  color: white;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .btn{

}

.form{
  width: 50%;
  margin-top: 20px;
}
.todo{
  width: 50%;
}
.todo-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;

}
.content h5{

}

.actions-box Button{
     padding: 5px;
     font-size: 14px;
     margin-left: 10px;
     /* margin-top: 10px; */
}




@media (max-width: 767px)  { 
  .content h5{
    font-size: 18px;
  }
  .actions-box Button{
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
.content{

 

}
.form h6{
  font-size: 14px;
}
.App h1{
font-size: 24px;
}
}

@media (max-width: 576px)  { 
  .content h5{
    font-size: 14px;
  }
  .actions-box Button{
    padding: 2px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}

.content{

 width: 100%;

}

}
